/* h1, a {
    color: red;
}
html body a {
    color: black;
} */

#introducao {
    color: gold;
}

.codigo .design{
    color: red;
}

/* .design {
    color: red;
} */

.azul {
    color: blue;
}

.underline {
    text-decoration: underline;
}

.grande {
    font-size: 32px;
}

